@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --orange-peel: #ffa630ff;
    --taupe-gray: #939196ff;
    --bg-main: #d3c1d2;
    --button: #2e5077ff;
    --button-dark: #396393;
    --tyrian-purple: #611c35ff;
    font-family: Comfortaa, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    border-style: none;
}

button {
    cursor: pointer;
}

body {
    height: 100vh;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

body>header {
    padding: 1.5em;
    background-color: var(--tyrian-purple);
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo svg {
    height: 3em;
    fill: white;
}

.logo span {
    color: white;
    font-size: 2em;
    align-self: center;
}

header>nav {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header-pfp {
    border-radius: 50%;
    max-height: 3em;
}

.header-username {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

main {
    height: 100%;
    align-self: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-header {
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 2em;
}

#add-book-btn {
    background-color: var(--button);
    border-radius: 10px;
    padding: 0.5em;
    transition: all 0.2s ease-in;

    &:hover {
        filter: brightness(1.2);
        scale: 1.1;
    }
}

#add-book-btn svg {
    fill: white;
    height: 2em;
}

#add-book-modal {
    background-color: #ffffff00;
    padding: 2em;
    align-self: center;
    justify-self: center;

    &>div {
        display: flex;
        justify-content: flex-end;
    }

    &::backdrop {
        background-color: black;
        opacity: 0.5;
    }
}

#close-modal-btn {
    background-color: white;
    border-radius: 50%;
    margin-right: -2em;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;

    &>svg {
        fill: gray;
        height: 1.5em;
        align-self: center;
    }
}

#add-book-modal form {
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &>div {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
    }

    &>.isRead-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

#add-book-modal>form>div>input {
    border: 1px solid var(--tyrian-purple);
    border-radius: 5px;
    font-size: 18px;

    &:user-invalid {
        border-color: red;
    }

}

#submit-form-btn {
    background-color: var(--orange-peel);
    width: min-content;
    padding: 1em;
    border-radius: 10px;
    align-self: flex-end;
    font-weight: 600;
}

#bookshelf-display {
    border-radius: 20px;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    gap: 2em;
}

.book-card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.edit-btn {
    background-color: var(--button);
    padding: 0.1em;
    border-radius: 10px;
    transition: all 0.2s;

    &:hover {
        background-color: var(--button-dark);
        scale: 1.1;
    }
}

.book-card>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-card-title {
    font-weight: 700;
}

.book-card-pages {
    color: gray;
}

.book-card-isRead {
    align-self: flex-end;

    &.read {
        background-color: green;
    }

    &.unread {
        background-color: red;
    }
}